body {
  font-family: 'Montserrat', sans-serif;
  margin-top: 60px;
}

.orange-footer {
    margin-top: 40px;
    background: linear-gradient(to bottom, #ffa07a, rgb(214, 82, 0));
    color: #FFFFFF;
    text-align: center;
    top: 0;
    padding: 10px;
    position:sticky;
    display: flex;
    left: 0;
    border-radius: 10px;
    right: 0;
  }

.orange-header {
  background: linear-gradient(to bottom, #ffa07aaf, #d65200a1);
  color: #FFFFFF;
  text-align: center;
  top: 0;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  backdrop-filter: blur(3px);
  display: flex;
}

.card {
    background-color: #f7f6f5;
    border-radius: 10px;
    border-width: 15px;
    border-color: black;
    border: 2px solid lightgray;
    display: block;
    justify-content: left;
    text-align: center;
    margin: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.card a {
    margin-left: 5px;
    margin-right: 5px;
    cursor: default;
}

button {
    background-color: #ff7b00;
    border-radius: 5px;
    border-style: none;
    width: auto;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
    transition: filter 0.2s;
    margin-top: 5px;
}

button:hover {
    filter: invert(100%);
    transition: filter 0.2s;
}

.code {
    background-color: #f5f2f0;
    border-radius: 10px;
    border-width: 15px;
    border-color: black;
    text-align: left;
    border: 2px solid lightgray;
    display: flex;
    justify-content: left;
    margin: 5px;
}

.card-codeview {
    background-color: #f5f2f0;
    border-radius: 10px;
    border-width: 15px;
    border-color: black;
    border: 2px solid lightgray;
    display: block;
    justify-content: left;
    text-align: left;
    margin: 5px;
    padding-top: 10px;
    padding-left: 10px;
    width: fit-content;
}

h2 {
   font-weight: 450;
}

.code img {
    width: 10%;
}

.orange-footer img {
    width: 60px;
    height: 60px;
    display: flex;
}

.orange-footer h3 {
    float: left;
    margin-left: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.orange-header img {
    width: 60px;
    height: 60px;
    display: flex;
}

.orange-header h3 {
    float: left;
    margin-left: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.centered-text {
    align-content: center;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 15px;
    margin-bottom: 10px;
}

.centered-menu {
    align-content: center;
    width: 100%;
    padding-left: 15px;
    display: flex;
    justify-content: left;
}

.centered-text img:hover {
    filter: invert(0%);
    transition: filter 0.2s;
}

.centered-text img {
    display: block;
    width: 40px;
    filter: invert(100%);
    height: 40px;
    margin-right: 10px;
    transition: filter 0.2s;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration:none; 
    cursor: pointer;  
}

.code a {
    color: black;
}

.centered-menu h4 {
    margin-right: 20px;
    display: block;
    font-weight:600;
    height: 10px;
    display: block;
    transition: filter 0.2s;
}

.centered-menu h4:hover {
    filter: invert(100%);
    transition: filter 0.2s;
}

.orange-header h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}